- name: Make sure authorized_keys file is present
  stat:
    path: "/root/.ssh/authorized_keys"
  register: authkey
  
- name: Copy the authorized_keys from the active host to the new host
  copy:
    src: "/root/.ssh/authorized_keys"
    dest: "/root/.ssh/authorized_keys"
  delegate_to: "{{ gluster_maintenance_new_node | mandatory }}"
  when: authkey.stat.isreg is defined
